    <!DOCTYPE html>
    <html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="../../../../favicon.ico">

        <title>Les Amis de l'Escalade</title>

        <!-- Bootstrap core CSS
         <link href="../../css/editor.css" rel="stylesheet">-->

        <!-- bootstrap -->
        <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script type="text/javascript" src="bootstrap/js/jquery-3.5.0.min.js"></script>
        <script type="text/javascript" src="bootstrap/js/script.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

        <!-- Custom styles for this template -->
        <link href="/css/main.css" rel="stylesheet">
    </head>

    <body>
    <!-- header -->
    <header th:replace="fragments/header::header"></header>

    <!-- end header -->

    <div class="card">
        <table class="table">
            <tr>
                <th><h1>COORDONNEES</h1></th>
            </tr>
        </table>
    </div>

    <div th:object="${coordonnees}" class="card-body">
        <table class="table table-striped" border="1" cellpadding="10">

            <tr></tr>

            <tr>
                <td class="p-3 mb-2 bg-dark text-white align-middle text-center">NOM</td>
                <td th:text="*{lastName}"></td>
            </tr>
            <tr>
                <td class="p-3 mb-2 bg-dark text-white align-middle text-center">PRENOM</td>
                <td th:text="*{name}"></td>
            </tr>
            <tr>
                <td class="p-3 mb-2 bg-dark text-white align-middle text-center">ADRESSE MAIL</td>
                <td th:text="*{email}"></td>
            </tr>
            <tr>
                <td class="p-3 mb-2 bg-dark text-white align-middle text-center">TELEPHONE</td>
            </tr>
            <tr>
                <td class="align-middle text-center">CODE POSTAL</td>
                <td th:text="*{codePostal}"></td>
            </tr>
        </table>
    </div>


<!--            <tr th:each="t:${coordonnees}">
                <td th:text="${t.topo.nom}"></td>
                <td th:text="${t.topo.proprietaire}"></td>
                <td th:text="${t.topo.region}"></td>
                <td th:text="${t.topo.nbSites}"></td>
                <td th:text="${t.topo.nbVoies}"></td>
                <td th:text="${t.topo.cotationMin}"></td>
                <td th:text="${t.topo.cotationMax}"></td>
            </tr>-->



    <footer class="text-muted">
        <div class="container">
            <p class="float-right">
                <a href="#">Back to top</a>
            </p>
        </div>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="../../js/vendor/popper.min.js"></script>
    <script src="../../js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/holderjs@2.9.4/holder.js"></script>
    <script type="text/javascript">
        function clearSearch() {
            window.location = "[[@{/topoListe}]]";
        }
    </script>

    <svg xmlns="http://www.w3.org/2000/svg" width="348" height="225" viewBox="0 0 348 225" preserveAspectRatio="none" style="display: none; visibility: hidden; position: absolute; top: -100%; left: -100%;"><defs><style type="text/css"></style></defs><text x="0" y="17" style="font-weight:bold;font-size:17pt;font-family:Arial, Helvetica, Open Sans, sans-serif">Thumbnail</text></svg>
    </body>
    </html>