<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- css -->
	<link rel="stylesheet" href="css/style.css" />

	<title>Les Amis de l'Escalade</title>
</head>

<!-- contenu du site -->
<body>
<!-- header -->
<header th:replace="fragments/header::header"></header>

<div th:if="${role == 'ADMIN'}">
	<div th:replace="fragments/headerAdmin::menuAdmin"></div>
</div>

</header>
<!-- end header -->

<!-- banniere -->
<div class="container">
				<div th:if="*{successMessage}" class="alert alert-info alert-dismissible fade show" role="alert">
					<h5 class="alert-heading">Félicitation !</h5>
					<p th:text="${successMessage}"></p>
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
	<div class="row">
		<div class="col">
			<div class="border-secondary shadow card mt-3 px-3 py-3">
				<h3 class="text-center">Inscription</h3>
				<hr>
				<form action="#" th:action="@{/save}" th:object="${user}" method="post">
					<div class="row">
						<div class="form-group col-6">
							<label for="name">Prénom :</label>
							<input type="text" th:field="*{name}" class="form-control" id="name" placeholder="Prénom" required>
						</div>
						<div class="form-group col-6">
							<label for="lastname">Nom :</label>
							<input type="text" th:field="*{lastName}" class="form-control" id="lastname" placeholder="Nom" required>
						</div>
					</div>
					<div class="row">
						<div class="form-group col-6">
							<label for="email">Mail :</label>
							<input type="email" th:field="*{email}" class="form-control" placeholder="Email" id="email" required>
						</div>
						<div class="form-group col-6">
							<label for="confirm_email">Confirmation mail :</label>
							<input type="email" class="form-control" placeholder="Confirm Email" id="confirm_email" required>
						</div>
					</div>
					<div class="row">
						<div class="form-group col-6">
							<label for="password">Mot de passe :</label>
							<input type="password" th:field="*{password}" class="form-control" placeholder="Password" id="password" required>
						</div>
						<div class="form-group col-6">
							<label for="confirm_password">Confirmation mot de passe :</label>
							<input type="password" class="form-control" placeholder="Confirm Password" id="confirm_password" required>
						</div>
					</div>
					<div class="row">
						<div class="form-group col-12">
							<label for="voie">Voie :</label>
							<input type="text" th:field="*{voie}" class="form-control" placeholder="Voie" id="voie" required>
						</div>
						<div class="form-group col-6">
							<label for="codePostal">Code postal :</label>
							<input type="text" th:field="*{codePostal}" class="form-control" placeholder="Code postal" id="codePostal" required>
						</div>
						<div class="form-group col-6">
							<label for="commune">Commune :</label>
							<input type="text" th:field="*{commune}" class="form-control" placeholder="Commune" id="commune" required>
						</div>
					</div>
					<div class="row">
						<div class="form-group col-12">
							<label for="niveau">Niveau :</label>
							<select th:field="*{niveau}" class="form-control" name="niveau" id="niveau">
								<option value="1">1 (Sentier à plat)</option>
								<option value="2">2 (Sentier escarpé)</option>
								<option value="3">3 (Début d'usage des mains, voies enfants)</option>
								<option value="4a">4a (Initiation)</option>
								<option value="4b">4b (Initiation)</option>
								<option value="4c">4c (Initiation)</option>
								<option value="5a">5a (Perfectionnement)</option>
								<option value="5b">5b (Perfectionnement)</option>
								<option value="5c">5c (Perfectionnement)</option>
								<option value="6a">6a (Escalade techniqque, adhérences, petites prises)</option>
								<option value="6b">6b (Escalade techniqque, adhérences, petites prises)</option>
								<option value="6c">6c (Premiers dévers et surplombs)</option>
								<option value="7a">7a (Escalade physique, parfois en dévers)</option>
								<option value="7b">7b (Début en compétition)</option>
								<option value="7c">7c (Début en compétition)</option>
								<option value="8a">8a (Haut niveau)</option>
								<option value="8b">8b (Haut niveau)</option>
								<option value="8c">8c (Haut niveau)</option>
								<option value="9a">9a (Escalade extrême, Top niveau mondial)</option>
								<option value="9a+">9a+ (Escalade extrême, Top niveau mondial)</option>
								<option value="9b">9b (Escalade extrême, Top niveau mondial)</option>
								<option value="9b+">9b+ (Le plus dur jamais réalisé)</option>
							</select>
						</div>
						<div class="form-group col-12 d-flex flex-column">
							<button type="submit" class="btn btn-primary mt-auto mx-auto">Envoyer</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
</div>
<!--
<section class="container-fluid">
&lt;!&ndash;	<div class="ban-inscritpion">
		<img src="img/ban6.jpg" alt="Bannière du site" class="banner" />
	</div>&ndash;&gt;
	<div class="inner-banner">

		&lt;!&ndash;<div class="container">
			<div class="row main">
				<h1>INSCRIPTION</h1>
				<div class="main-login main-center">&ndash;&gt;

		<div class="container">
					<form action="#" th:action="@{/save}" th:object="${user}" method="post">


						<div class="row">

						<div class="form-group col-md-6">
							<label th:if="${#fields.hasErrors('name')}" th:errors="*{name}" for="name" >Prénom</label>
									<input type="text" th:field="*{name}" placeholder="Name" class="form-control" name="name" id="name"/>
								</div>
						</div>
						<div class="form-group col-md-6">
							<label th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" for="lastName">Nom</label>

								<div class="input-group">
									<input type="text"  th:field="*{lastName}" placeholder="Last Name" class="form-control" name="lastName" id="lastName"/>
								</div>
						</div>
						<div class="form-group">
							<label th:if="${#fields.hasErrors('sexe')}" th:errors="*{sexe}" class="cols-sm-2 control-label">Sexe</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
									<label for="femme" class="cols-sm-2 control-label"><i class="fa fa-female"></i>
										<input type="radio"  th:field="*{sexe}" class="form-control" value="femme" name="femme" id="femme"/></label>
									<label for="homme" class="cols-sm-2 control-label"><i class="fa fa-male"></i>
										<input type="radio"  th:field="*{sexe}" class="form-control" value="homme" name="homme" id="homme"/></label>
								</div>
							</div>
						</div>

						<div class="form-group">
							<label th:if="${#fields.hasErrors('email')}" th:errors="*{email}" for="email" class="cols-sm-2 control-label">Adresse mail</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
									<input type="text" th:field="*{email}" placeholder="Email" class="form-control" name="email" id="email"/>
								</div>
							</div>
						</div>

						&lt;!&ndash;<div class="form-group">
							<label for="confirm_mail" class="cols-sm-2 control-label">Confirmation de l'adresse mail</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
									<input type="text" class="form-control" name="confirm_mail" id="confirm_mail"  placeholder="Confirmation mail"/>
								</div>
							</div>
						</div>&ndash;&gt;

						<div class="form-group">
							<label th:if="${#fields.hasErrors('password')}" th:errors="*{password}" for="password" class="cols-sm-2 control-label">Mot de passe</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
									<input type="password" th:field="*{password}" placeholder="Password" class="form-control" name="password" id="password"/>
								</div>
							</div>
						</div>

						&lt;!&ndash;<div class="form-group">
							<label for="confirm_mdp" class="cols-sm-2 control-label">Confirmation du mot de passe</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
									<input type="password" class="form-control" name="confirm" id="confirm_mdp"  placeholder="Confirmation mdp"/>
								</div>
							</div>
						</div>&ndash;&gt;

						<div class="form-group">
							<label th:if="${#fields.hasErrors('voie')}" th:errors="*{voie}" for="voie" class="cols-sm-2 control-label">Voie</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-home" aria-hidden="true"></i></span>
									<input type="text" th:field="*{voie}" class="form-control" name="voie" id="voie"  placeholder="Voie"/>
								</div>
							</div>
						</div>

						<div class="form-group">
							<label th:if="${#fields.hasErrors('codePostal')}" th:errors="*{codePostal}" for="codePostal" class="cols-sm-2 control-label">Code postal</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-home" aria-hidden="true"></i></span>
									<input type="text" th:field="*{codePostal}" class="form-control" name="codePostal" id="codePostal"  placeholder="Code postal"/>
								</div>
							</div>
						</div>

						<div class="form-group">
							<label th:if="${#fields.hasErrors('commune')}" th:errors="*{commune}" for="commune" class="cols-sm-2 control-label">Commune</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-home" aria-hidden="true"></i></span>
									<input type="text" th:field="*{commune}" class="form-control" name="commune" id="commune"  placeholder="Commune"/>
								</div>
							</div>
						</div>

						<div class="form-group">
							<label th:if="${#fields.hasErrors('niveau')}" th:errors="*{niveau}" for="niveau" class="cols-sm-2 control-label">Niveau</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-signal" aria-hidden="true"></i></span>
									<select  th:field="*{niveau}" class="form-control" name="niveau" id="niveau"  placeholder="Niveau">
										<option value=""></option>
										<option value="1">1 (Sentier à plat)</option>
										<option value="2">2 (Sentier escarpé)</option>
										<option value="3">3 (Début d'usage des mains, voies enfants)</option>
										<option value="4a">4a (Initiation)</option>
										<option value="4b">4b (Initiation)</option>
										<option value="4c">4c (Initiation)</option>
										<option value="5a">5a (Perfectionnement)</option>
										<option value="5b">5b (Perfectionnement)</option>
										<option value="5c">5c (Perfectionnement)</option>
										<option value="6a">6a (Escalade techniqque, adhérences, petites prises)</option>
										<option value="6b">6b (Escalade techniqque, adhérences, petites prises)</option>
										<option value="6c">6c (Premiers dévers et surplombs)</option>
										<option value="7a">7a (Escalade physique, parfois en dévers)</option>
										<option value="7b">7b (Début en compétition)</option>
										<option value="7c">7c (Début en compétition)</option>
										<option value="8a">8a (Haut niveau)</option>
										<option value="8b">8b (Haut niveau)</option>
										<option value="8c">8c (Haut niveau)</option>
										<option value="9a">9a (Escalade extrême, Top niveau mondial)</option>
										<option value="9a+">9a+ (Escalade extrême, Top niveau mondial)</option>
										<option value="9b">9b (Escalade extrême, Top niveau mondial)</option>
										<option value="9b+">9b+ (Le plus dur jamais réalisé)</option>
									</select>
								</div>
							</div>
						</div>

						<div class="form-group ">
							<input type="submit"  id="button" class="btn btn-primary btn-lg btn-block login-button"></input>
						</div>

					</form>

				&lt;!&ndash; <form th:action="@{/}" method="get">
		<button class="btn btn-md btn-warning btn-block" type="Submit">Go To Login Page</button>
	</form>


					<div class="form-group">
						<div class="col-sm-9">
							<button type="submit" class="btn btn-primary btn-block">Register User</button>
						</div>
					</div>
					
					<span th:utext="${successMessage}"></span>
					
				</form>&ndash;&gt;
				</div>
			</div>
		</div>
	</div>

</section>-->




<!-- footer-->
<footer>
	<div class="container">
		<div class="row">
			<div class="col">
				<ul class="list-inline text-center">
					<li class="list-inline-item">&middot;</li>
					<li class="list-inline-item">Par Fabien Chapeau de chez OC
					</li>
					<li class="list-inline-item">&middot;</li>
				</ul>
			</div>
		</div>
	</div>
</footer>

<!-- Optional JavaScript -->

<!-- jQuery first, then Popper.js, then Bootstrap JS -->

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

<script type="text/javascript">
    var password = document.getElementById("password")
    , confirm_password = document.getElementById("confirm_password");

    function validatePassword(){
      if(password.value != confirm_password.value) {
        confirm_password.setCustomValidity("Passwords Don't Match");
      } else {
        confirm_password.setCustomValidity('');
      }
    }

    password.onchange = validatePassword;
    confirm_password.onkeyup = validatePassword;
  </script>
<script type="text/javascript">
    var email = document.getElementById("email")
    , confirm_email = document.getElementById("confirm_email");

    function validateEmail(){
      if(email.value != confirm_email.value) {
        confirm_email.setCustomValidity("Email Don't Match");
      } else {
        confirm_email.setCustomValidity('');
      }
    }

    email.onchange = validateEmail;
    confirm_email.onkeyup = validateEmail;
  </script>
</body>
</html>