<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="css/style.css" />

    <title>Les Amis de l'Escalade</title>
</head>
<h2>
    <span th:text="'Hello, ' + ${role}"></span>
</h2>

<body>
<!-- header -->
<header th:replace="fragments/header::header">

    <div th:if="${role == 'ADMIN'}">
        <div th:replace="fragments/headerAdmin::menuAdmin"></div>
    </div>
</header>
<!-- end header -->

<div class="container">
    <div class="row">
        <div class="col">
            <div class="border-secondary shadow jumbotron">
                <h1>Mes demandes</h1>
            </div>
        </div>
    </div>
    <div class="col-12">
            <div class="border-secondary shadow card h-100">
                <div class="card-body">
                    <div class="table-responsive-sm table-responsive-md table-responsive-lg">
                        <table class="table table-bordered table-striped table">
                            <thead class="thead-dark">
                            <tr>
                                <th>Nom</th>
                                <th>Propriétaire</th>
                                <th>Région</th>
                                <th>Date d'enregistrement</th>
                                <th>Description</th>
                                <th>Réservation</th>
                                <th>Gestion</th>
                            </tr>
                            </thead>
                            <tr th:each="t:${mesDemandes}">
                                <td th:text="${t.topo.nom}"></td>
                                <td>Propriétaire</td>
                                <td th:text="${t.topo.region}"></td>
                                <td th:text="${t.topo.date}"></td>
                                <td th:text="${t.topo.description}"></td>
                                <td th:if="${t.id != null}">
                                    <div th:if="${t.validerReservation != null}">
                                        <span th:if="${!t.validerReservation}">Demande en attente de validation</span>
                                        <div th:if="${t.demandeReservation != null}">
                                            <span th:if="${t.validerReservation}">Demande acceptée : <a th:href="@{coordonnees/(id=${t.topo.id})}">Voir les coordonnées</a></span>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div th:if="${role}">
                                        <a class="btn btn-success" th:href="@{annulerDemande/(id=${t.id})}">Annuler ma demande</a>
                                    </div>
                                </td>
                            </tr>
                        </table>
<!--                        <ul class="nav nav-pills">
                            <li  th:each="page,status:${pages}">
                                <a  th:class="${status.index == currentPage?'btn btn-primary' : 'btn'}" th:href="@{topoListe(page=${status.index}, keyword=${keyword}, disponible=${disponible})}" th:text="${status.index + 1}"></a>
                            </li>
                        </ul>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer>
    <div class="container">
        <div class="row">
            <div class="col">
                <ul class="list-inline text-center">
                    <li class="list-inline-item">&middot;</li>
                    <li class="list-inline-item">Par Fabien Chapeau de chez OC
                    </li>
                    <li class="list-inline-item">&middot;</li>
                </ul>
            </div>
        </div>
    </div>
</footer>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</body>

</html>

 <!--   <div class="card">
        <table class="table">
            <tr>
                <th><h1>LISTE DE MES DEMANDES</h1></th><th></th><th></th><th></th><th></th><th><a class="btn btn-info" href="/monTopoListe">Réserver un topo</a></th><th></th><th></th><th><a class="btn btn-info" href="/monTopoForm">Ajouter un topo</a></th>
            </tr>
        </table>

        <form th:action="@{/topoListe}">
            Filtre: <input type="text" name="keyword" id="keyword" size="50" th:value="${keyword}" required />
            &nbsp;
            <input class="btn btn-info" type="submit" value="Filtrer" />
            &nbsp;
            <input class="btn btn-info" type="button" value="Réinitialiser" id="btnClear" onclick="clearSearch()" />
        </form>
    </div>

    <div class="card-body">
        <table class="table table-striped" border="1" cellpadding="10">

            <tr></tr>

            <tr class="p-3 mb-2 bg-dark text-white">
                <th class="align-middle text-center">NOM</th><th class="align-middle text-center">PROPRIETAIRE</th><th class="align-middle text-center">REGION</th><th class="align-middle text-center">DATE</th><th class="align-middle text-center">DESCRIPTION</th><th class="align-middle text-center">DEMANDE RESERVATION</th><th class="align-middle text-center">RESERVE</th><th class="align-middle text-center">GESTION</th>
            </tr>
            <tr th:each="t:${mesDemandes}">
                <td th:text="${t.topo.nom}"></td>
&lt;!&ndash;                <td th:text="${t.topo.proprietaire}"></td>&ndash;&gt;
                <td th:text="${t.topo.region}"></td>
                <td th:text="${t.topo.date}"></td>
                <td th:text="${t.topo.description}"></td>
&lt;!&ndash;                TODO: Corriger le bug, appel de l'objet demandeReservation du model reservation dans le controller&ndash;&gt;
               <td th:if="${t.id != null}">
                   <div th:if="${t.validerReservation != null}">
                    <span th:if="${!t.validerReservation}">Demande en attente de validation</span>
                    <span th:if="${t.reserve}">Demande acceptée</span>

                   </div>
               </td>


                <td>
                    <div th:if="${t.id != null}">
                        <div th:if="${t.demandeReservation != null}">
                            <span th:if="${t.validerReservation}"><a th:href="@{coordonnees/(id=${t.topo.id})}">Voir les coordonnées</a></span>

                        </div>
                    <div th:if="${t.demandeReservation == null}">
                        <span th:if="${t.demandeReservation == null or !t.demandeReservation}">Disponible</span>
                    </div>
                    </div>
                </td>

                <td>
                    <div th:if="${role}">
                        <a class="btn btn-success" th:href="@{annulerDemande/(id=${t.id})}">Annuler ma demande</a>
                    </div>
                </td>
            </tr>
        </table>

        &lt;!&ndash;<ul class="nav nav-pills">
            <li  th:each="page,status:${pages}">
                <a  th:class="${status.index == currentPage?'btn btn-primary' : 'btn'}" th:href="@{topoListe(page=${status.index}, keyword=${keyword})}" th:text="${status.index}"></a>
            </li>
        </ul>&ndash;&gt;
    </div>
    </div>

    <footer class="text-muted">
        <div class="container">
            <p class="float-right">
                <a href="#">Back to top</a>
            </p>
            <p>Album example is © Bootstrap, but please download and customize it for yourself!</p>
        </div>
    </footer>

    &lt;!&ndash; Bootstrap core JavaScript
    ================================================== &ndash;&gt;
    &lt;!&ndash; Placed at the end of the document so the pages load faster &ndash;&gt;
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="../../js/vendor/popper.min.js"></script>
    <script src="../../js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/holderjs@2.9.4/holder.js"></script>
    <script type="text/javascript">
        function clearSearch() {
            window.location = "[[@{/topoListe}]]";
        }
    </script>

    <svg xmlns="http://www.w3.org/2000/svg" width="348" height="225" viewBox="0 0 348 225" preserveAspectRatio="none" style="display: none; visibility: hidden; position: absolute; top: -100%; left: -100%;"><defs><style type="text/css"></style></defs><text x="0" y="17" style="font-weight:bold;font-size:17pt;font-family:Arial, Helvetica, Open Sans, sans-serif">Thumbnail</text></svg></body>
    </html>-->