    <!DOCTYPE html>
    <html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="../../../../favicon.ico">

        <title>Les Amis de l'Escalade</title>

        <!-- Bootstrap core CSS
         <link href="../../css/editor.css" rel="stylesheet">-->

        <!-- bootstrap -->
        <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script type="text/javascript" src="bootstrap/js/jquery-3.5.0.min.js"></script>
        <script type="text/javascript" src="bootstrap/js/script.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

        <!-- Custom styles for this template -->
        <link href="css/main.css" rel="stylesheet">
    </head>

    <p>
        <!-- header -->
    <header th:replace="fragments/header::header"></header>

        </header>

        <!-- end header -->

        <!--<h1>TOPOS</h1>

        <form method="post" action="#" th:action="@{/enregistre}" th:object="${topo}">
            <p>Nom : <input type="text" name="nom" th:field="*{nom}" /></p>
            <p>Proprietaire : <input type="text" name="proprietaire" th:field="*{proprietaire}" /></p>
            <p>Région : <input type="text" name="region" th:field="*{region}" /></p>
            <p>Nombre de sites : <input type="text" name="nbSites" th:field="*{nbSites}" /></p>
            <p>Nombre de voies : <input type="text" name="nbVoies" th:field="*{nbVoies}" /></p>
            <p>Cotation mini : <input type="text" name="cotationMin" th:field="*{cotationMin}" /></p>
            <p>Cotation max : <input type="text" name="cotationMax" th:field="*{cotationMax}" /></p>
            <p>Réservé : <input type="text" name="reserve" th:field="*{reserve}" /></p>
            <button type="submit" class="btn btn-primary btn-block">Envoyer</button>
        </form>-->
    <p><div class="">
        <h1>FORMULAIRE DES TOPOS</h1>
        <div class="container">
            <div class="row main">
                <div class="main-login main-center">
                    <form method="post" action="#" th:action="@{/monTopoEnregistre}" th:object="${topo}">

                        <div class="form-group">
                            <label for="nom" class="cols-sm-2 control-label">Nom : </label>
                            <div class="cols-sm-10">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                                    <input type="text"  th:field="*{nom}" class="form-control" name="nom" id="nom" placeholder="Nom"/>
                                </div>
                            </div>
                        </div>

                        <!--<div class="form-group">
                            <label for="proprietaire" class="cols-sm-2 control-label">Propriétaire : </label>
                            <div class="cols-sm-10">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                                    <input type="text"  th:field="*{proprietaire}" class="form-control" name="proprietaire" id="proprietaire" placeholder="Propriétaire"/>
                                </div>
                            </div>
                        </div>-->

                        <div class="form-group">
                            <label for="region" class="cols-sm-2 control-label">Région : </label>
                            <div class="cols-sm-10">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                                    <input type="text"  th:field="*{region}" class="form-control" name="region" id="region" placeholder="Région"/>
                                </div>
                            </div>
                        </div>

                       <!-- <div class="form-group">
                            <label for="region" class="cols-sm-2 control-label">Id du site : </label>
                            <div class="cols-sm-10">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                                    <input type="text"  th:field="*{site.id}" class="form-control" name="region" id="siteId" placeholder="Site id"/>
                                </div>
                            </div>
                        </div>
-->
                        <div class="form-group">
                            <label for="region" class="cols-sm-2 control-label">Site : </label>
                            <div class="cols-sm-10">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                                    <select th:object="${site}" type="text" class="form-control" name="siteNom" id="siteNom" placeholder="Site">
                                        <option value=""> &#45;&#45; </option>
                                        <option th:each="s : ${site}"
                                                th:value="${s.id}"
                                                th:text="${s.nom}"
                                                />
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="nbSites" class="cols-sm-2 control-label">Nombre de sites : </label>
                            <div class="cols-sm-10">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                                    <input type="text" th:field="*{nbSites}" class="form-control" name="nbSites" id="nbSites"  placeholder="Nombre de sites"/>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="nbVoies" class="cols-sm-2 control-label">Nombre de voies : </label>
                            <div class="cols-sm-10">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                                    <input type="text" th:field="*{nbVoies}" class="form-control" name="nbVoies" id="nbVoies"  placeholder="Nombre de voies"/>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="cotationMin" class="cols-sm-2 control-label">Cotation mini : </label>
                            <div class="cols-sm-10">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-home" aria-hidden="true"></i></span>
                                    <input type="text" th:field="*{cotationMin}" class="form-control" name="cotationMin" id="cotationMin"  placeholder="Cotation mini"/>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="cotationMax" class="cols-sm-2 control-label">Cotation max : </label>
                            <div class="cols-sm-10">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-home" aria-hidden="true"></i></span>
                                    <input type="text" th:field="*{cotationMax}" class="form-control" name="cotationMax" id="cotationMax"  placeholder="Cotation max"/>
                                </div>
                            </div>
                        </div>


<!--                        TODO: Mettre la liste des sites qui se trouve en DB pour rattacher le topo que l'on va enregistrer-->
                        <!--<div class="form-group">
                            <label for="site" class="cols-sm-2 control-label">Site : </label>
                            <div class="cols-sm-10">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-home" aria-hidden="true"></i></span>
                                    <input type="text" th:field="*{site}" class="form-control" name="site" id="site"  placeholder="site"/>
                                </div>
                            </div>
                        </div>-->



                        <div class="form-group ">
                            <input type="submit"  id="button" class="btn btn-primary btn-lg btn-block login-button"></input>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
    </p>




    <footer class="text-muted">
        <div class="container">
            <p class="float-right">
                <a href="#">Back to top</a>
            </p>
            <p>Album example is © Bootstrap, but please download and customize it for yourself!</p>
        </div>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="../../js/vendor/popper.min.js"></script>
    <script src="../../js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/holderjs@2.9.4/holder.js"></script>


    <svg xmlns="http://www.w3.org/2000/svg" width="348" height="225" viewBox="0 0 348 225" preserveAspectRatio="none" style="display: none; visibility: hidden; position: absolute; top: -100%; left: -100%;"><defs><style type="text/css"></style></defs><text x="0" y="17" style="font-weight:bold;font-size:17pt;font-family:Arial, Helvetica, Open Sans, sans-serif">Thumbnail</text></svg>
    </body>
    </html>