<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Les Amis de l'Escalade</title>

    <link rel="stylesheet" href="/css/style.css"/>

</head>
<h2>
    <span th:text="'Hello, ' + ${role}"></span>
</h2>
<body>
<!-- header -->
<header th:replace="fragments/header::header"></header>
<!-- end header -->

<div class="container">
    <div class="row">
        <div class="col">
            <div class="border-secondary shadow card h-100 mt-3">
                <div class="row">
                    <div class="col-12 my-4 col-lg-6">
                        <div class="border-secondary card h-100 ml-3" th:object="${sitePageEscalade}">
                            <img class="card-img-top" src="#" th:src="@{|/img/site/*{site_image}|}" alt="image_site"
                                 height="430">
                        </div>
                    </div>
                    <div class="col-12 my-4 col-lg-6">
                        <div class="border-0 card h-100">
                            <div class="card-body">
                                <h4 class="card-title text-center" th:object="${sitePageEscalade}"
                                    th:text="*{nom}"></h4>
                                <hr>
                                <table class="table table-border">
                                    <div th:object="${sitePageEscalade}">
                                    <tr>
                                        <td class="text-left">Nombre de voies</td>
                                        <td th:text="*{nbVoies}"></td>
                                    </tr>
                                    <tr>
                                        <td class="text-left">Nombre de secteurs</td>
                                        <td>5</td>
                                    </tr>
                                    <tr>
                                        <td class="text-left">Difficulté</td>
                                        <td th:text="'De ' + *{cotationMin} + ' à ' + *{cotationMax}"></td>
                                    </tr>
                                    <tr th:if="${certifie}">
                                        <td colspan="2">Site officiel les amis de l'escalade</td>
                                        <td></td>
                                    </tr>
                                    </div>

                                    <tr th:if="${roles}">
                                        <form method="post" action="" th:action="${saveUpdateSiteCertifie}" th:object="${sitePageEscalade}">
                                            <td>
                                                <input type="hidden" th:field="*{id}"/>
                                                <!--<input type="radio" th:field="*{certifie}" th:value="true"/>-->
                                                <button type="submit" value="certifier"
                                                        class="btn btn-primary mt-auto mx-auto">Certifier
                                                </button>
                                            </td>
                                        </form>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="border-0 card h-100">
                            <div th:object="${sitePageEscalade}" class="card-body">
                                <h5 class="card-title">Descritpion</h5>
                                <p class="card-text" th:text="*{description}"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col">
            <div class="border-secondary shadow card h-100 mt-4">
                <div class="row">
                    <div class="col-12">
                        <div class="border-0 card h-100">
                            <div class="card-body">
                                <h4 class="card-title text-center">Commentaires</h4>
                                <hr>
                                <div th:if="${role}" class="row">
                                    <div class="col-12">
                                        <div class="border-0 card h-100">
                                            <div class="card-body">
                                                <h5 class="card-title">Votre commentaire</h5>
                                                <form method="post" action="#" th:action="@{/pageEscalade}" th:object="${commentaireForm}">
                                                    <div class="row">
                                                        <div class="form-group col-8">
                                                            <label for="commentaire"></label>
                                                            <textarea th:field="*{com}" type="text" class="form-control" id="commentaire" placeholder="Votre commentaire" required> </textarea>
                                                        </div>
                                                        <div class="row">
                                                            <div class="form-group col-12 d-flex flex-column">
                                                                <button type="submit" class="btn btn-primary mt-auto mx-auto">Envoyer
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <table th:each="cs:${comSite}" id="tableData" class="table table-bordered">
                                    <tr>
                                        <td th:text="${cs.user.name}" class="text-left" style="width: 15%"></td>
                                        <td th:text="${cs.com}" rowspan="2" style="width: 85%"></td>
                                        <td th:if="${role}" rowspan="2">
                                            <div>
                                                <a class="btn btn-success"
                                                   th:href="@{/editerCommentaire/(id=${cs.id})}">Editer</a>
                                            </div>
                                            &nbsp;&nbsp;&nbsp;
                                            <div>
                                                <a class="btn btn-danger"
                                                   th:href="@{/effacerCommentaire/(id=${cs.id})}">Effacer</a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td th:text="${cs.comDate}" class="text-left" style="width: 15%"></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!--
    <div class="row marketing">
        <div class="col-lg-6">
            <h4 th:object="${sitePageEscalade}" th:text="*{nom}"></h4>
            <div th:object="${sitePageEscalade}"><img src="#" th:src ="@{|/img/site/*{site_image}|}"  width="50%" height="50%">
                <table class="table">
                    <tr th:object="${sitePageEscalade}" th:if="${{certifie} == true}">
                        <th>Certifié Les Amis de l'Escalade</th>
                    </tr>
                    <tr>
                        <th class="bg-info text-white">Nombre de Voie : </th><th th:object="${sitePageEscalade}" th:text="*{nbVoies}"></th>
                    </tr>
                    <tr >
                        <th class="bg-info text-white">Cotation : </th><th th:text="'De ' + *{cotationMin} + ' à ' + *{cotationMax}"></th>
                    </tr>
                </table>
                <p th:text="*{description}">
                </p>

                <h4>Topo</h4>
                <table class="table">
                    <th>Nom</th>
                    <tr th:each="ts:${toposite}">
                        <td th:text="${ts.nom}"></td>
                        &lt;!&ndash;                    <td th:text="${ts.reservation.reserve} ? 'Réservé' : 'Disponible'"></td>&ndash;&gt;
                        &lt;!&ndash;<td th:if="${{ts.reserve} == 'false'}">Disponible</td>
                        <td th:if="${{ts.reserve} != 'false'}">Réservé</td>&ndash;&gt;
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <table class="table table-striped" border="0" cellpadding="0">
        <tr></tr>
        <tr class="p-3 mb-2 bg-dark text-white">
            <th class="align-middle text-center">Commentaire</th><th></th></th><th th:if="${role}" class="align-middle text-center">GESTION</th>
        </tr>
        <tr th:each="cs:${comSite}" class="media">
            <td><img class="d-flex rounded-circle avatar z-depth-1-half mr-3" src="https://mdbootstrap.com/img/Photos/Avatars/avatar-5.jpg"
                     alt="Avatar"></td>
            <td class="media-body">
                <h5 th:text="${cs.user.name}" class="mt-0 font-weight-bold blue-text">Anna Smith</h5>
                <span th:text="${cs.comDate}"></span>
                &lt;!&ndash;        <p th:text="${#temporals.format(localDateTime, 'dd-MM-yyyy HH:mm')}"></p>&ndash;&gt;
                <span th:text="${cs.com}"></span>
            </td>
            <td th:if = "${role}">
                <div th:if ="${cs.user.id} == ${utilisateurId}">
                    <a class="btn btn-success" th:href="@{editerCommentaire/(id=${cs.id})}">Editer</a>
                </div>
                &nbsp;&nbsp;&nbsp;
                <div th:if ="${{cs.user.id} == {utilisateurId} or {role} == ('ADMIN')}">
                    <a class="btn btn-danger" th:href="@{effacerCommentaire/(id=${cs.id})}">Effacer</a>
                </div>
            </td>
    </table>


    <div th:if="${role}" class="media mt-3 shadow-textarea">
        <img class="d-flex rounded-circle avatar z-depth-1-half mr-3" src="https://mdbootstrap.com/img/Photos/Avatars/avatar-8.jpg"
             alt="Generic placeholder image">
        <div class="media-body">
            <h5 class="mt-0 font-weight-bold blue-text">Danny Tatuum</h5>
            <form method="post" action="#" th:action="@{/visiteur/pageEscalade}" th:object="${commentaireForm}">
                &lt;!&ndash;<div class="form-group basic-textarea rounded-corners">
                    <input type="hidden" th:object="${sitePageEscalade}" th:text="*{id}" class="form-control z-depth-1" rows="3"></input>
                </div>&ndash;&gt;

                <div class="form-group basic-textarea rounded-corners">
                    <textarea th:field="*{com}" class="form-control z-depth-1"  rows="3" placeholder="Commentaire..."></textarea>
                </div>
                <div class="form-group ">
                    <input type="submit"  id="button" class="btn btn-primary btn-lg btn-block login-button"></input>
                </div>
            </form>
        </div>
    </div>



    &lt;!&ndash;<h4>Commentaires</h4>
    <table class="table">
        <th>Date</th><th>Commentaire</th>
        <tr th:each="cs:${comSite}">
            <td th:text="${cs.comDate}"></td>
            <td th:text="${cs.com}"></td>
        </tr>
    </table>&ndash;&gt;
</div>
</div>
</div>
-->


<!-- /container -->


<footer>
    <div class="container">
        <div class="row">
            <div class="col">
                <ul class="list-inline text-center">
                    <li class="list-inline-item">&middot;</li>
                    <li class="list-inline-item">Par Fabien Chapeau de chez OC
                    </li>
                    <li class="list-inline-item">&middot;</li>
                </ul>
            </div>
        </div>
    </div>
</footer>

<!-- Optional JavaScript -->

<!-- jQuery first, then Popper.js, then Bootstrap JS -->

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
<script type="text/javascript" src="/paging.js"></script>
<script type="text/javascript">
            $(document).ready(function() {
                $('#tableData').paging({limit:5});
            });

</script>
</body>
</html>