    <!DOCTYPE html>
    <html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="../../../../favicon.ico">

        <title>Les Amis de l'Escalade</title>

        <!-- Bootstrap core CSS
         <link href="../../css/editor.css" rel="stylesheet">-->

        <!-- bootstrap -->
        <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script type="text/javascript" src="bootstrap/js/jquery-3.5.0.min.js"></script>
        <script type="text/javascript" src="bootstrap/js/script.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

        <!-- Custom styles for this template -->
        <link href="/css/main.css" rel="stylesheet">
    </head>

    <body>
    <!-- header -->
    <header class="container-fluid header">
        <div class="container-logo">
            <a href="/" class="active">Les Amis de l'Escalade</a>
            <nav class="menu">
                <a href="/">Accueil</a>
                <a href="/sites">Sites d'escalade</a>
                <a href="/#about">A propos</a>
                <!-- <a href="#contact">Contact</a> -->
                <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                    <i class="fa fa-bars"></i></a>
            </nav>

        </div>

    </header>

    <!-- end header -->

    <h1>MODIFICATION DES SITES</h1>

    <form method="post" action="#" th:action="@{/saveUpdateSite}" th:object="${siteModif}">
        <p><input type="hidden" name="id" th:field="*{id}" /></p>
        <p>Nom : <input type="text" name="nom" th:field="*{nom}" /></p>
        <p>Région : <input type="text" name="region" th:field="*{region}" /></p>
        <p>Nombre de voies : <input type="text" name="nbVoies" th:field="*{nbVoies}" /></p>
        <p>Cotation mini : <input type="text" name="cotationMin" th:field="*{cotationMin}" /></p>
        <p>Cotation max : <input type="text" name="cotationMax" th:field="*{cotationMax}" /></p>
        <p>Cotation max : <input type="text" name="cotationMax" th:field="*{description}" /></p>
        <p>Cotation max : <input type="text" name="cotationMax" th:field="*{site_image}" /></p>
        <p>Certifié : <label><input type="radio" th:field="*{certifie}"th:value="true"/>Oui</label>
         <label><input type="radio" th:field="*{certifie}"th:value="false"/>Non</label>
        <button type="submit" class="btn btn-primary btn-block">Envoyer</button>
    </form>


    <footer class="text-muted">
        <div class="container">
            <p class="float-right">
                <a href="#">Back to top</a>
            </p>
            <p>Album example is © Bootstrap, but please download and customize it for yourself!</p>
        </div>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="../../js/vendor/popper.min.js"></script>
    <script src="../../js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/holderjs@2.9.4/holder.js"></script>


    <svg xmlns="http://www.w3.org/2000/svg" width="348" height="225" viewBox="0 0 348 225" preserveAspectRatio="none" style="display: none; visibility: hidden; position: absolute; top: -100%; left: -100%;"><defs><style type="text/css"></style></defs><text x="0" y="17" style="font-weight:bold;font-size:17pt;font-family:Arial, Helvetica, Open Sans, sans-serif">Thumbnail</text></svg></body>
    </html>