    <!DOCTYPE html>
    <html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/header::headerlink"></head>

    <body>
    <!-- header -->
    <header class="container-fluid header">
        <div class="container-logo">
            <a href="/" class="active">Les Amis de l'Escalade</a>
            <nav class="menu">
                <a href="/">Accueil</a>
                <a href="/sites">Sites d'escalade</a>
                <a href="/#about">A propos</a>
                <!-- <a href="#contact">Contact</a> -->
                <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                    <i class="fa fa-bars"></i></a>
            </nav>

        </div>

    </header>

    <!-- end header -->

    <div class="card">
        <table class="table">
            <tr>
                <th><h1>LISTE DES SITES</h1></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th><a class="btn btn-info" href="/siteForm">Ajouter</a></th>
            </tr>
        </table>

        <form th:action="@{siteListe}">
            Filtre: <input type="text" name="keyword" id="keyword" size="50" th:value="${keyword}" required />
            &nbsp;
            <input class="btn btn-info" type="submit" value="Filtrer" />
            &nbsp;
            <input class="btn btn-info" type="button" value="Réinitialiser" id="btnClear" onclick="clearSearch()" />
        </form>
    </div>

    <div class="card-body">
        <table class="table table-striped" border="1" cellpadding="10">

            <tr></tr>

            <tr class="p-3 mb-2 bg-dark text-white">
                <th class="align-middle text-center">NOM</th><th class="align-middle text-center">REGION</th><th class="align-middle text-center">NB VOIES</th><th class="align-middle text-center">COTATION MINI</th><th class="align-middle text-center">COTATION MAX</th><th class="align-middle text-center">DESCRIPTION</th><th class="align-middle text-center">IMAGE</th><th class="align-middle text-center">CERTIFIE</th>
            </tr>
            <tr th:each="s:${siteListe}">
                <td th:text="${s.nom}"></td>
                <td th:text="${s.region}"></td>
                <td th:text="${s.nbVoies}"></td>
                <td th:text="${s.cotationMin}"></td>
                <td th:text="${s.cotationMax}"></td>
                <td th:text="${s.description}"></td>
                <td th:text="${s.site_image}"></td>
                <td>
                    <span><a>Certifier</a></span>
                </td>
                <td>
                    <div>
                        <a class="btn btn-success" th:href="@{editerSite/(id=${s.id})}"> Editer</a>
                    </div>
                    &nbsp;&nbsp;&nbsp;
                    <div>
                        <a class="btn btn-danger"  th:href="@{effacerSite/(id=${s.id})}">Effacer</a>
                    </div>
                </td>
            </tr>
        </table>

        <ul class="nav nav-pills">
            <li  th:each="page,status:${pages}">
                <a  th:class="${status.index == currentPage?'btn btn-primary' : 'btn'}" th:href="@{siteListe(page=${status.index}, keyword=${keyword})}" th:text="${status.index}"></a>
            </li>
        </ul>
    </div>
    </div>

    <footer class="text-muted">
        <div class="container">
            <p class="float-right">
                <a href="#">Back to top</a>
            </p>
            <p>Album example is © Bootstrap, but please download and customize it for yourself!</p>
        </div>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="../../js/vendor/popper.min.js"></script>
    <script src="../../js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/holderjs@2.9.4/holder.js"></script>
    <script type="text/javascript">
        function clearSearch() {
            window.location = "[[@{/topoListe}]]";
        }
    </script>

    <svg xmlns="http://www.w3.org/2000/svg" width="348" height="225" viewBox="0 0 348 225" preserveAspectRatio="none" style="display: none; visibility: hidden; position: absolute; top: -100%; left: -100%;"><defs><style type="text/css"></style></defs><text x="0" y="17" style="font-weight:bold;font-size:17pt;font-family:Arial, Helvetica, Open Sans, sans-serif">Thumbnail</text></svg></body>
    </html>