<!doctype html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>

    <!-- Required meta tags -->

    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/style.css" />


    <title>Les Amis de l'Escalade</title>

</head>

<body>

<!-- Header -->
<header th:replace="fragments/header::header">

    <div th:if="${role == 'ADMIN'}">
        <div th:replace="fragments/headerAdmin::menuAdmin"></div>
    </div>
</header>
<!-- Reste de la page -->

<div class="container">
    <div class="row">
        <div class="col">
            <div class="border-secondary shadow jumbotron">
                <h1>Espace Topos !</h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 my-4 col-lg-4">
            <div class="border-secondary shadow card h-100">
<!--                <img class="card-img-top" src="/img/site.jpg" alt="site" height="300">-->
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">TOPOS</h5>
                    <p class="card-text">Ici tu trouveras tous les topos que les utilisateurs ont partagés. Tu pourras faire une demande pour ceux qui sont disponibles.</p>
                    <a class="stretched-link btn btn-primary mt-auto" href="/topoListe" role="button">Voir les topos</a>
                </div>
            </div>
        </div>

        <div class="col-12 my-4 col-lg-4">
            <div class="border-secondary shadow card h-100">
              <!--  <img class="card-img-top" src="img/topo/topo_diois.jpg" alt="topo" height="300">-->
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">Mes Topos</h5>
                    <p class="card-text">C'est ici que tu pourras enregistrer et consulter tes topos</p>
                    <a class="stretched-link btn btn-primary mt-auto" href="/mesTopos" role="button">Voir mes topos</a>
                </div>
            </div>
        </div>
        <div class="col-12 my-4 col-lg-4">
            <div class="border-secondary shadow card h-100">
                <!--<img class="card-img-top" src="img/inscription.jpg" alt="compte" height="300">-->
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">Mes demandes</h5>
                    <p class="card-text">C'est ici que tu pourras consulter tes demandes d'emprunt</p>
                    <a class="stretched-link btn btn-primary mt-auto" href="/mesDemandes" role="button">Voir mes demandes</a>
                </div>
            </div>
        </div>
        <!-- <div class="col-12 my-4 col-lg-4">
          <div class="border-secondary shadow card">
            <img class="card-img-top" src="job.png" alt="job">
            <div class="card-body">
              <h5 class="card-title">Un travail garanti</h5>
          <p class="card-text">Nous vous garantissons un emploi à l'issue de votre formation.</p>
          <a class="btn btn-secondary" href="#" role="button">Témoignages d'anciens élèves</a>
          </div>
          </div> -->
    </div>
</div>
<footer>
<div class="container">
    <div class="row">
        <div class="col">
            <ul class="list-inline text-center">
                <li class="list-inline-item">&middot;</li>
                <li class="list-inline-item">Par Fabien Chapeau de chez OC
                </li>
                <li class="list-inline-item">&middot;</li>
            </ul>
        </div>
    </div>
</div>
</footer>


<!-- Optional JavaScript -->

<!-- jQuery first, then Popper.js, then Bootstrap JS -->

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</body>

</html>

