<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="/css/style.css" />

    <title>Les Amis de l'Escalade</title>
</head>

<body>
<!-- header -->
<header th:replace="fragments/header::header">

    <div th:if="${role == 'ADMIN'}">
        <div th:replace="fragments/headerAdmin::menuAdmin"></div>
    </div>
</header>
<!-- end header -->

<div class="container">
    <div class="row">
        <div class="col">
            <div class="border-secondary shadow jumbotron">
                <h1>Souhaitez vous prêter ce topo ?</h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="border-secondary shadow card h-100">
                <div class="card-body">
                    <div class="table-responsive-sm table-responsive-md table-responsive-lg">
                        <table class="table table-bordered table-striped table">
                            <thead class="thead-dark">
                            <tr>
                                <th>NOM</th>
                                <th>REGION</th>
                                <th>DATE</th>
                                <th>DESCRIPTION</th>
                                <th>RESERVATION</th>
                            </tr>
                            </thead>
                            <tr th:object="${topoValider}">
                                <td th:text="*{nom}"></td>
                                <td th:text="*{region}"></td>
                                <td th:text="*{#dates.format(date, 'dd-MMM-yyyy')}"></td>
                                <td th:text="*{description}"></td>
                                <div th:if="${reservation}">
                                <form method="post" action="#" th:action="@{/saveValiderReservation}" th:object="${reservation}">
                                    <td>
                                       <input type="hidden" name="id" th:field="*{id}"/>

                                        <input type="hidden" th:value="${topoReservation}"/>
<!--                                        <input type="hidden" th:value="${userId}"/>-->
                                        <input type="hidden" th:field="*{demandeReservation}" th:value="false"/>
                                        <input type="hidden" th:field="*{reserve}"th:value="true"/>
                                        <button type="submit" value="Accepter réservation" class="btn btn-success" >Accepter</button>
                                        <input type="hidden" th:field="*{demandeReservation}" th:value="false"/>
                                        <input type="hidden" th:field="*{reserve}"th:value="false"/>
                                        <button type="submit" value="Refuser réservation" class="btn btn-danger" >Refuser</button>
                                    </td>
                                </form>
                                </div>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<footer>
    <div class="container">
        <div class="row">
            <div class="col">
                <ul class="list-inline text-center">
                    <li class="list-inline-item">&middot;</li>
                    <li class="list-inline-item">Par Fabien Chapeau de chez OC
                    </li>
                    <li class="list-inline-item">&middot;</li>
                </ul>
            </div>
        </div>
    </div>
</footer>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>


</body>

</html>

<!--
<h1>VALIDER RESERVATION</h1>


<table class="table" border="1" cellpadding="10">

    <tr>
        <th>NOM</th><th>REGION</th><th>DATE</th><th>DESCRIPTION</th><th>VALIDER RESERVATION</th>

    <tr th:object="${topoValider}">
        <td th:text="*{nom}"> </td>
        <td th:text="*{region}"> </td>
        <td th:text="*{date}"> </td>
        <td th:text="*{description}"> </td>
        <form method="post" action="#" th:action="@{/saveValiderReservation}" th:object="${reservation}">
            <td>
                <input type="hidden" name="id" th:field="*{id}"/>
&lt;!&ndash;                <input type="hidden" th:field="*{nom}"/>
                <input type="hidden" th:field="*{region}"/>
                <input type="hidden" th:field="*{date}"/>
                <input type="hidden" th:field="*{description}"/>&ndash;&gt;
                <input type="hidden" th:value="${topoValider.id}"/>
                <input type="hidden" th:value="${userId}"/>
                <input type="hidden" th:field="*{demandeReservation}" th:value="false"/>
                <label><input type="radio" th:field="*{reserve}"th:value="true"/>Oui</label>
                <label><input type="radio" th:field="*{reserve}"th:value="false"/>Non</label>

                <button type="submit" value="Valider réservation" class="btn btn-info">Envoyer</button></td>
        </form>
    </tr>

</table>


<footer class="text-muted">
    <div class="container">
        <p class="float-right">
            <a href="#">Back to top</a>
        </p>
        <p>Album example is © Bootstrap, but please download and customize it for yourself!</p>
    </div>
</footer>

&lt;!&ndash; Bootstrap core JavaScript
================================================== &ndash;&gt;
&lt;!&ndash; Placed at the end of the document so the pages load faster &ndash;&gt;
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="../../js/vendor/popper.min.js"></script>
<script src="../../js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/holderjs@2.9.4/holder.js"></script>


<svg xmlns="http://www.w3.org/2000/svg" width="348" height="225" viewBox="0 0 348 225" preserveAspectRatio="none" style="display: none; visibility: hidden; position: absolute; top: -100%; left: -100%;"><defs><style type="text/css"></style></defs><text x="0" y="17" style="font-weight:bold;font-size:17pt;font-family:Arial, Helvetica, Open Sans, sans-serif">Thumbnail</text></svg></body>
</html>-->
