<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Les Amis de l'Escalade</title>

    <link rel="stylesheet" href="/css/style.css"/>

</head>
<body>
<!-- header -->
<header th:replace="fragments/header::header"></header>

<div th:if="${role == 'ADMIN'}">
    <div th:replace="fragments/headerAdmin::menuAdmin"></div>
</div>
</header>
<!-- end header -->

    <div class="container">
        <div class="row">
            <div class="col">
                <div class="border-secondary shadow card mt-3 px-3 py-3">
                    <h3 class="text-center">Formulaire d'ajout d'un topo</h3>
                    <hr>
                    <form method="post" action="#" th:action="@{/enregistre}" th:object="${topo}">
                        <div class="row">
                            <div class="form-group col-sm-12 col-md-6">
                                <label for="nom">Nom :</label>
                                <input th:field="*{nom}" type="text" class="form-control" id="nom" placeholder="Nom" required>
                            </div>
                            <div class="form-group col-sm-12 col-md-6">
                                <label for="region">Région :</label>
                                <input th:field="*{region}" class="form-control" type="text" placeholder="Région" id="region" required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-12 col-md-6">
                                <label for="date">Date :</label>
                                <input class="form-control" type="date" name="date" th:field="*{date}" placeholder="JJ/MM/AAAA" id="date" required>
                            </div>
                            <div class="form-group col-sm-12 col-md-6">
                                <label>Disponible :</label>
                                <div th:field="*{disponible}"class="form-group mt-2">
                                    <input type="radio" id="oui" name="disponible" value="true" checked>
                                    <label for="oui">oui</label>
                                    <input type="radio" id="non" name="disponible" value="false">
                                    <label for="non">non</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-12">
                                <label for="description">Description :</label>
                                <textarea th:field="*{description}" class="form-control" type="text" placeholder="Description" id="description" style="resize: none;" required></textarea>
                            </div>
                            <div class="form-group col-12 d-flex flex-column">
                                <button type="submit" class="btn btn-primary mt-auto mx-auto">Envoyer</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!--<p><div class="">
        <h1>FORMULAIRE DES TOPOS</h1>
        <div class="container">
            <div class="row main">
                <div class="main-login main-center">
                    <form method="post" action="#" th:action="@{/enregistre}" th:object="${topo}">

                        <div class="form-group">
                            <label for="nom" class="cols-sm-2 control-label">Nom : </label>
                            <div class="cols-sm-10">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                                    <input type="text"  th:field="*{nom}" class="form-control" name="nom" id="nom" placeholder="Nom"/>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="region" class="cols-sm-2 control-label">Région : </label>
                            <div class="cols-sm-10">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                                    <input type="text"  th:field="*{region}" class="form-control" name="region" id="region" placeholder="Région"/>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="cotationMin" class="cols-sm-2 control-label">Date : </label>
                            <div class="cols-sm-10">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-home" aria-hidden="true"></i></span>
                                    <input type="text" th:field="*{cotationMin}" class="form-control" name="cotationMin" id="cotationMin"  placeholder="Cotation mini"/>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="cotationMax" class="cols-sm-2 control-label">Description : </label>
                            <div class="cols-sm-10">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-home" aria-hidden="true"></i></span>
                                    <input type="text" th:field="*{cotationMax}" class="form-control" name="cotationMax" id="cotationMax"  placeholder="Cotation max"/>
                                </div>
                            </div>
                        </div>

                        <div class="form-group ">
                            <input type="submit"  id="button" class="btn btn-primary btn-lg btn-block login-button"></input>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
    </p>



-->
<footer>
    <div class="container">
        <div class="row">
            <div class="col">
                <ul class="list-inline text-center">
                    <li class="list-inline-item">&middot;</li>
                    <li class="list-inline-item">Par Fabien Chapeau de chez OC
                    </li>
                    <li class="list-inline-item">&middot;</li>
                </ul>
            </div>
        </div>
    </div>
</footer>

<!-- Optional JavaScript -->

<!-- jQuery first, then Popper.js, then Bootstrap JS -->

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>

</body>
</html>