<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- font -->
	<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,600;0,700;1,400&display=swap" rel="stylesheet">
	<link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>

	<!-- css -->
	<link rel="stylesheet" href="/css/main.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">


	<!-- bootstrap -->
	<link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<script type="text/javascript" src="bootstrap/js/jquery-3.5.0.min.js"></script>
	<script type="text/javascript" src="bootstrap/js/script.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
	<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>


	<title>Les Amis de l'Escalade</title>
</head>

<!-- contenu du site -->
<body>
<!-- header -->
<header class="container-fluid header">
	<div class="container-logo">
		<a href="/" class="active">Les Amis de l'Escalade</a>
		<nav class="menu">
			<a href="/">Accueil</a>
			<a href="/sites">Sites d'escalade</a>
			<a href="#about">A propos</a>
			<!-- <a href="#contact">Contact</a> -->
			<a href="javascript:void(0);" class="icon" onclick="myFunction()">
				<i class="fa fa-bars"></i></a>
		</nav>

	</div>

</header>
<!-- end header -->

<!-- banniere -->
<section class="container-fluid">
	<div class="ban-inscritpion">
		<img src="img/ban6.jpg" alt="Bannière du site" class="banner" />
	</div>
	<div class="inner-banner">

		<div class="container">
			<div class="row main">
				<div class="main-login main-center">
					<form autocomplete="off" action="#" th:action="@{/saveUser}" th:object="${user}" method="post">
						<h1>AJOUT UTILISATEUR</h1>

						<div class="form-group">
							<label th:if="${#fields.hasErrors('name')}" th:errors="*{name}" for="name" class="cols-sm-2 control-label">Prénom</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
									<input type="text" th:field="*{name}" placeholder="Name" class="form-control" name="name" id="name"/>
								</div>
							</div>
						</div>

						<div class="form-group">
							<label th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" for="lastName" class="cols-sm-2 control-label">Nom</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
									<input type="text"  th:field="*{lastName}" placeholder="Last Name" class="form-control" name="lastName" id="lastName"/>
								</div>
							</div>
						</div>

						<div class="form-group">
							<label th:if="${#fields.hasErrors('sexe')}" th:errors="*{sexe}" class="cols-sm-2 control-label">Sexe</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
									<label for="femme" class="cols-sm-2 control-label"><i class="fa fa-female"></i>
										<input type="radio"  th:field="*{sexe}" class="form-control" value="femme" name="femme" id="femme"/></label>

									<label for="homme" class="cols-sm-2 control-label"><i class="fa fa-male"></i>
										<input type="radio"  th:field="*{sexe}" class="form-control" value="homme" name="homme" id="homme"/></label>

								</div>
							</div>
						</div>

						<div class="form-group">
							<label th:if="${#fields.hasErrors('email')}" th:errors="*{email}" for="email" class="cols-sm-2 control-label">Adresse mail</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
									<input type="text" th:field="*{email}" placeholder="Email" class="form-control" name="email" id="email"/>
								</div>
							</div>
						</div>

						<!--<div class="form-group">
							<label for="confirm_mail" class="cols-sm-2 control-label">Confirmation de l'adresse mail</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
									<input type="text" class="form-control" name="confirm_mail" id="confirm_mail"  placeholder="Confirmation mail"/>
								</div>
							</div>
						</div>-->

						<div class="form-group">
							<label th:if="${#fields.hasErrors('password')}" th:errors="*{password}" for="password" class="cols-sm-2 control-label">Mot de passe</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
									<input type="password" th:field="*{password}" placeholder="Password" class="form-control" name="password" id="password"/>
								</div>
							</div>
						</div>

						<!--<div class="form-group">
							<label for="confirm_mdp" class="cols-sm-2 control-label">Confirmation du mot de passe</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
									<input type="password" class="form-control" name="confirm" id="confirm_mdp"  placeholder="Confirmation mdp"/>
								</div>
							</div>
						</div>-->

						<div class="form-group">
							<label th:if="${#fields.hasErrors('voie')}" th:errors="*{voie}" for="voie" class="cols-sm-2 control-label">Voie</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-home" aria-hidden="true"></i></span>
									<input type="text" th:field="*{voie}" class="form-control" name="voie" id="voie"  placeholder="Voie"/>
								</div>
							</div>
						</div>

						<div class="form-group">
							<label th:if="${#fields.hasErrors('codePostal')}" th:errors="*{codePostal}" for="codePostal" class="cols-sm-2 control-label">Code postal</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-home" aria-hidden="true"></i></span>
									<input type="text" th:field="*{codePostal}" class="form-control" name="codePostal" id="codePostal"  placeholder="Code postal"/>
								</div>
							</div>
						</div>

						<div class="form-group">
							<label th:if="${#fields.hasErrors('commune')}" th:errors="*{commune}" for="commune" class="cols-sm-2 control-label">Commune</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-home" aria-hidden="true"></i></span>
									<input type="text" th:field="*{commune}" class="form-control" name="commune" id="commune"  placeholder="Commune"/>
								</div>
							</div>
						</div>

						<div class="form-group">
							<label th:if="${#fields.hasErrors('niveau')}" th:errors="*{niveau}" for="niveau" class="cols-sm-2 control-label">Niveau</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-signal" aria-hidden="true"></i></span>
									<select  th:field="*{niveau}" class="form-control" name="niveau" id="niveau"  placeholder="Niveau">
										<option value=""></option>
										<option value="1">1 (Sentier à plat)</option>
										<option value="2">2 (Sentier escarpé)</option>
										<option value="3">3 (Début d'usage des mains, voies enfants)</option>
										<option value="4a">4a (Initiation)</option>
										<option value="4b">4b (Initiation)</option>
										<option value="4c">4c (Initiation)</option>
										<option value="5a">5a (Perfectionnement)</option>
										<option value="5b">5b (Perfectionnement)</option>
										<option value="5c">5c (Perfectionnement)</option>
										<option value="6a">6a (Escalade techniqque, adhérences, petites prises)</option>
										<option value="6b">6b (Escalade techniqque, adhérences, petites prises)</option>
										<option value="6c">6c (Premiers dévers et surplombs)</option>
										<option value="7a">7a (Escalade physique, parfois en dévers)</option>
										<option value="7b">7b (Début en compétition)</option>
										<option value="7c">7c (Début en compétition)</option>
										<option value="8a">8a (Haut niveau)</option>
										<option value="8b">8b (Haut niveau)</option>
										<option value="8c">8c (Haut niveau)</option>
										<option value="9a">9a (Escalade extrême, Top niveau mondial)</option>
										<option value="9a+">9a+ (Escalade extrême, Top niveau mondial)</option>
										<option value="9b">9b (Escalade extrême, Top niveau mondial)</option>
										<option value="9b+">9b+ (Le plus dur jamais réalisé)</option>
									</select>
								</div>
							</div>
						</div>

						<div class="form-group ">
							<input type="submit"  id="button" class="btn btn-primary btn-lg btn-block login-button"></input>
						</div>

					</form>

				<!-- <form th:action="@{/}" method="get">
		<button class="btn btn-md btn-warning btn-block" type="Submit">Go To Login Page</button>
	</form>


					<div class="form-group">
						<div class="col-sm-9">
							<button type="submit" class="btn btn-primary btn-block">Register User</button>
						</div>
					</div>
					
					<span th:utext="${successMessage}"></span>
					
				</form>-->
				</div>
			</div>
		</div>
	</div>

	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="js/bootstrap.min.js"></script>



</section>
<!-- end banniere -->

<section>


</section>


<script>
		function myFunction() {
		  var x = document.getElementById("myTopnav");
		  if (x.className === "menu") {
		    x.className += " responsive";
		  } else {
		    x.className = "menu";
		  }
		}
		</script>
<!-- footer-->
<div class="main_footer">
	<p class="footer">Par Fabien Chapeau de chez OC</p>
</div>
</body>
</html>